* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
}
body {
    background-color: gray;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Estilos base para el botón */
.nav__button {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 16px;
    cursor: pointer;
}
.nav__icon {
    font-size: 50px;
    color: rgb(60, 60, 60);
}
.nav__button:hover .nav__icon,
.nav__link:hover {
    color: goldenrod;
}

/* Estilos base para la barra lateral */
.nav__sidebar {
    margin: 0;
    padding: 0;
    padding-top: 90px;
    width: 400px;
    position: absolute;
    top: 0;
    left: -410px;
    height: 100vh;
    background-color: whitesmoke;
    transition: all .3s;
    box-shadow: 0 0 10px 1px rgb(96, 96, 96);
}
.nav__sidebar.active {
    left: 0;
}
.nav__item {
    list-style: none;
}
.nav__link {
    text-decoration: none;
    display: block;
    padding: 16px;
    color: teal;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s;
}

